html,body{
  height: 100%;
}

.jd_container{
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  background-color: pink;
  padding-top:44px;
  position: relative;
  overflow: hidden;
  margin:0 auto;
}
.jd_nav{
  width: 100%;
  height: 44px;
  background-color: #fff;
  background-image: linear-gradient(#fff,#ccc);
  position: absolute;
  top:0;
}
.jd_nav .icon-back,.jd_nav .icon-menu{
  width: 22px;
  height: 22px;
  position: absolute;
  top:11px;
}
.jd_nav .search{
  margin:0 44px;
}
.jd_nav .icon-back{
  left:11px;
  background-position: -20px 0;
}
.jd_nav .icon-menu{
  right:11px;
  background-position: -60px 0;
}
.jd_nav input{
  width: 100%;
  height: 30px;
  border-radius: 6px;
  margin-top: 7px;
  text-indent: 1em;
}
.jd_content{
  width: 100%;
  height: 100%;
  background-color: powderblue;
  margin:0 auto;
  overflow: hidden;
}
.jd_content .small_nav{
  float: left;
  height: 100%;
}
.jd_content .small_nav li{
  width: 89px;
  height: 49px;
  line-height: 49px;
  background-color: pink;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  text-align: center;
}
.jd_content .small_nav  a{
  color: #000;
}
.jd_content .small_nav li.now{
  background-color: #fff;
  border-right:none;
  border-bottom:none;
}
.jd_content .small_nav li.now a{
  color: red;
}
.jd_content .product{
  overflow: hidden;
  height: 100%;
  background-color: mediumpurple;
}
.jd_content .product .img_box{
  padding: 10px;
}
.jd_content .product h3{
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
}
.jd_content .main_product ul{
  margin-top: 15px;
}
.jd_content .main_product li{
  width: 33.33%;
  height: 80px;
  float: left;
}
.jd_content .main_product img{
  width: 60px;
  height: 60px;
  display: block;
  margin:0 auto;

}
