.jd_header {
  height: 44px;
  width: 100%;
  background-image: linear-gradient(#ffffff, #cccccc);
  position: relative;
}
.jd_header .icon_back,
.jd_header .icon_menu {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  padding: 12px;
  background-clip: content-box;
  background-origin: content-box;
}
.jd_header .icon_back {
  left: 0;
  background-position: -20px 0;
}
.jd_header .icon_menu {
  right: 0;
  background-position: -60px 0;
}
.jd_header .title {
  margin: 0 44px;
  height: 44px;
}
.jd_header .title h3 {
  text-align: center;
  line-height: 44px;
  font-size: 18px;
}
